.App {
  text-align: left;
  font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

* {
    font-family: 'Roboto', sans-serif;
}

.image-contact {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

p {
    font-size: 1.8rem;
}

.about-para {
    margin-top: 25px;
    text-align: left;
    display: flex;
    flex-direction: column;
    min-height: 70vh;
}

.contact-para {
    margin-top: 90px;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 70vh;
}

.chat-image {
    margin: 10px;
}

.media {
    margin: 15px;
}

.btn {
    margin: 12px;
    font-size: 2.5rem;
}

.footer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
    flex-direction: column;
}

.app-description {
    font-size: 2.5rem;
}

.button-container {
    margin-top: 20px;
}

.page-header {
    margin-left: 55px;
}

.about {
    margin-top: 5%;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.7rem;
    margin-left: 15%;
    background: #F1F1F1;
    width: 70%;
    height: 500px;
    padding: 50px;
    margin-bottom: 55px;
}