.App {
  text-align: left;
  font-size: 16px;
    font-family: 'Roboto', sans-serif;
    background-color: #B0D6DC;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

* {
    font-family: 'Roboto', sans-serif;
}

.image-contact {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

p {
    font-size: 1.8rem;
}

.about-para {
    margin-top: 25px;
    text-align: left;
    display: flex;
    flex-direction: column;
    min-height: 70vh;
}

.contact-para {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    min-height: 100vh;
    background: rgba(241, 241, 241, 0.45);
    width: 60%;
    height: 50%
}

.image {
    margin: 10px;
    width: 37vw;
}

.btn {
    margin: 12px;
    font-size: 2.5rem;
}

.footer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
    flex-direction: column;
}

.app-description {
    font-size: 2.5rem;
    width: 700px;
    word-wrap: break-word;
    display: table-cell;
}

.button-container {
    margin-top: 20px;
}

.page-header {
    margin-left: 55px;
}

.about {
    margin-top: 5%;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.7rem;
    margin-left: 15%;
    background: rgba(241, 241, 241, 0.45);
    width: 70%;
    height: 500px;
    padding: 50px;
    margin-bottom: 55px;
}

.project {
    display: flex;
    margin: 15px;
}

.projects-grid {
    width: 100%;
}

@media only screen and (max-width: 800px) {
    .project {
        display: flex;
        flex-direction: column;
        word-wrap: break-word;
    }

    .app-description {
        font-size: 1.5rem;
        width: 250px;
        word-wrap: break-word;
        display: table-cell;
    }

    .btn {
        margin: 9px;
        font-size: 1.5rem;
        width: auto;
    }

    .page-header {
        word-wrap: break-word;
    }
}